.girl {
  background: url('/assets/girl.png');
  background-color: #f0f2ed;  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}