.example-spacer {
  flex: 1 1 auto;
}

#toolbar {
  color: var(--navbar-color);
}

.menu-logout {
  font-size: 16px;
  cursor: pointer;
  place-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.menu-logout p {
  margin: 12px 6px;
}

.material-icons {
  font-size: 30px;
}

.content {
  padding: 16px;
}