.container {
  background-color: #f0f2ed;  
}

.header {
  background-color: rgb(102, 218, 247);
  padding: 20px 10px 30px 10px;
}

.header h5, .material-icons {
  color: white;
  font-size: 25px;
}

.box-container {
  padding: 15px;
}

.box1 {
  height: 100px;
  background-color: #58f5b9;
  margin: 10px;
}