<div class="continer">
  <div class="header" fxLayout="row" fxLayoutGap="4%">
    <span class="material-icons">fact_check</span>
    <h5> LISTS</h5>
  </div>
  <div class="box-container">
    <div fxLayout="row">
      <div class="box1" fxFlex="50%">
        <span class="material-icons">headphones</span>
      </div>
      <div class="box1" fxFlex="50%">
        <span class="material-icons">headphones</span>
      </div>
    </div>
    <div fxLayout="row">
      <div class="box1" fxFlex="50%">
        <span class="material-icons">headphones</span>
      </div>
      <div class="box1" fxFlex="50%">
        <span class="material-icons">headphones</span>
      </div>
    </div>
  </div>
</div>